h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
label,
p,
input,
textarea,
select {
  font-family: $primary-font;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5 {
  font-weight: $bold;
}

h1,
.h1 {
  font-size: 26px;
  line-height: 30px;
}

h2,
.h2 {
  font-size: 16px;
  line-height: 26px;
}

h3,
.h3 {
  font-size: 18px;
  line-height: 24px;
}

h4,
.h4 {
  font-size: 16px;
  font-weight: $light;
  line-height: 1;
}

h5,
.h5 {
  font-size: 14px;
  line-height: 19px;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: $light;
  line-height: 19px;
}

p,
.p {
  font-size: 12px;
  line-height: 22px;
}
