/* --------- CUSTOM RESET ---------- */
html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  height: 100%;
  margin: 0 auto;
  padding-top: 211px;
}

section {
  margin-bottom: 135px;
}

strong {
  font-weight: bolder;
}
/* --------- END CUSTOM RESET ---------- */

/* --------- END TYPOGRAPHY ---------- */
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
label,
p,
input,
textarea,
select {
  font-family: $primary-font;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5 {
  font-weight: $bold;
}

h1,
.h1 {
  font-size: 26px;
  line-height: 30px;
}

h2,
.h2 {
  font-size: 16px;
  line-height: 26px;
}

h3,
.h3 {
  font-size: 18px;
  line-height: 24px;
}

h4,
.h4 {
  font-size: 16px;
  font-weight: $light;
  line-height: 1;
}

h5,
.h5 {
  font-size: 14px;
  line-height: 19px;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: $light;
  line-height: 19px;
}

p,
.p {
  font-size: 12px;
  line-height: 22px;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

ol,
ul {
  list-style: none;
}

hr {
  border-top: 1px solid $primary-color;
}

.link {
  color: $primary-color;

  // Hover
  &:hover {
    color: $secondary-color;
  }
}
/* --------- END TYPOGRAPHY ---------- */

/* --------- CUSTOM MODIFICATIONS ---------- */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 43px;
  padding-right: 43px;
}

.container {
  max-width: initial;

  // Desktop
  @include respond-above(xl) {
    max-width: 1279px;
  }

  padding-left: 43px;
  padding-right: 43px;
}
/* --------- CUSTOM MODIFICATIONS ---------- */
