/* -------------------------------
		0.1.-VARIABLES
-------------------------------- */

/* ----------- Fonts ------------- */
$primary-font: "proxima-nova", sans-serif;

$secondary-font: "proxima-nova-condensed", sans-serif;

$terciary-font: "proxima-nova-extra-condensed", sans-serif;

$light: 300;

$regular: 400;

$medium: 500;

$bold: 700;

/* ----------- Main Colors ------------- */

$white: #fff;

$black: #000;

$grey: #f6f7fa;

$primary-color: #0052cb;

$secondary-color: #0b3c87;
