/* -------------------------------
		0.1.-VARIABLES
-------------------------------- */

/* ----------- Fonts ------------- */
$light: 300;

$regular: 400;

$medium: 500;

$bold: 700;

/* ----------- Main Colors ------------- */

$white: #fff;

$black: #000;
