.loader {
  height: calc(100vh - 442px);
  display: flex;
  align-items: center;
  justify-content: center;

  // Ipad
  @include respond-below(sm) {
    height: calc(100vh - 336px);
  }
}

.car {
  &__body {
    animation: shake 0.2s ease-in-out infinite alternate;
  }

  &__line {
    transform-origin: center right;
    stroke-dasharray: 22;
    animation: line 0.8s ease-in-out infinite;
    animation-fill-mode: both;

    &--top {
      animation-delay: 0s;
    }

    &--middle {
      animation-delay: 0.2s;
    }

    &--bottom {
      animation-delay: 0.4s;
    }
  }
}
